*{
 margin:0;
 padding:0;
}
header .row {
 display: flex;
 flex-flow: row nowrap;
 
}
/* sr-only */
.sr-only{
 position:absolute;
 width:1px;
 height:1px;
 padding:0;
 margin:-1px;
 overflow:hidden;
 clip: rect(0,0,0,0);
 border:0;
}
/* style for toggle button */
.menu-toggle{
 color:black;
 margin-left:.5rem;
}
.menu-toggle:hover,
.menu-toggle:focus{
 color: #C1ff12;
}

.main-menu{
 position:fixed;
 display:none;
 left:-200;
 top:0;
 height:100%;
 overflow-y: auto;
 overflow-x: visible;
 transition:left 0.3s ease;
 z-index:999;
 background: black;
}
.main-menu ul{
 list-style: none;
 display:block;
 padding:.75rem;
 color:#fff;
 text-decoration:none;
 /* border-bottom:1px solid black; */
}
.main-menu a{
 display:block;
 padding:.75rem;
 color:white;
 text-decoration:none;
 
}
/* .main-menu li:first-child a{
 border-top:1px solid black;
} */
/* .main-menu:hover,
.main-menu:focus {
 background:black;

} */
.side-menu-container li a:hover{
 color:#C1ff12;
}
.side-menu-container li a{
 color:white;
 text-decoration:none;
}

.main-menu .menu-close{
 position:absolute;
 right:0;
 top:0;
}
.main-menu:target{
 display:block;
 left:0;
 outline: none;
}
.main-menu:target .menu-close {
 z-index:1001;
}
.main-menu:target ul{
 position:relative;
 z-index:1000;
}
.main-menu:target + .backdrop{
 position:fixed;
 display:block;
 left:0;
 top:0;
 width:100%;
 height:100%;
 z-index:998;
 background:rgba(0,0,0,.85);
 cursor:default;
}